

#Palabra{
    color: red
}

#cajita{
    border-width: 3px;
    border-style: solid;
    border-color: #6D597A;

    /* Dimensiones*/
    width: 350px;
    height: 350px;

    /* Espacio con margenes */
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}
